
body, html {

    height: 100%;
    margin: 0;
    padding: 0;

}
body {

    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,Segoe UI,Arial,Roboto,"PingFang SC",miui,"Hiragino Sans GB","Microsoft Yahei",sans-serif;

}
body {

    background: url(media/background-img.png) no-repeat;
        background-size: auto;
    background-size: 100% 100%;

}
[class*="rv-"]:focus, a:focus, button:focus, input:focus, textarea:focus {
  outline: 0;
}
* {

    padding: 0;
    margin: 0;
    list-style: none;

}
* {

    margin: 0;
    padding: 0;

}
body {

    display: block;
    margin: 8px;

}
address, article, aside, blockquote, body, caption, center, col, colgroup, dd, dir, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, legend, li, listing, main, marquee, menu, nav, noframes, ol, p, plaintext, pre, section, summary, table, tbody, td, tfoot, th, thead, tr, ul, xmp {

    unicode-bidi: isolate;

}
:root {

    --rv-typography-color: var(--rv-text-color);
    --rv-typography-link-color: var(--rv-primary-color);
    --rv-typography-font-size: var(--rv-font-size-md);
    --rv-typography-line-height: var(--rv-line-height-md);
    --rv-typography-primary-color: var(--rv-primary-color);
    --rv-typography-danger-color: var(--rv-danger-color);
    --rv-typography-success-color: var(--rv-success-color);
    --rv-typography-secondary-color: var(--rv-gray-6);
    --rv-typography-warning-color: var(--rv-warning-color);
    --rv-typography-disabled-color: var(--rv-gray-5);
    --rv-typography-light-color: var(--rv-white);

}
:root {

    --rv-swipe-indicator-size: 6px;
    --rv-swipe-indicator-margin: var(--rv-padding-sm);
    --rv-swipe-indicator-active-opacity: 1;
    --rv-swipe-indicator-inactive-opacity: 0.3;
    --rv-swipe-indicator-active-background-color: var(--rv-white);
    --rv-swipe-indicator-inactive-background-color: var(--rv-border-color);

}
:root {

    --swiper-theme-color: #007aff;

}
:root {

    --rv-slider-active-background-color: var(--rv-primary-color);
    --rv-slider-inactive-background-color: var(--rv-gray-3);
    --rv-slider-disabled-opacity: var(--rv-disabled-opacity);
    --rv-slider-bar-height: 2px;
    --rv-slider-button-width: 24px;
    --rv-slider-button-height: 24px;
    --rv-slider-button-border-radius: 50%;
    --rv-slider-button-background-color: var(--rv-white);
    --rv-slider-button-box-shadow: 0 1px 2px rgba(0,0,0,0.5);

}
:root {

    --rv-sku-item-background-color: var(--rv-background-color);

}
:root {

    --rv-stepper-active-color: #e8e8e8;
    --rv-stepper-background-color: var(--rv-active-color);
    --rv-stepper-button-icon-color: var(--rv-text-color);
    --rv-stepper-button-disabled-color: var(--rv-background-color);
    --rv-stepper-button-disabled-icon-color: var(--rv-gray-5);
    --rv-stepper-button-round-theme-color: var(--rv-danger-color);
    --rv-stepper-input-width: 32px;
    --rv-stepper-input-height: 28px;
    --rv-stepper-input-font-size: var(--rv-font-size-md);
    --rv-stepper-input-line-height: normal;
    --rv-stepper-input-text-color: var(--rv-text-color);
    --rv-stepper-input-disabled-text-color: var(--rv-gray-5);
    --rv-stepper-input-disabled-background-color: var(--rv-active-color);
    --rv-stepper-border-radius: var(--rv-border-radius-md);

}
:root {

    --rv-progress-height: 4px;
    --rv-progress-color: var(--rv-primary-color);
    --rv-progress-background-color: var(--rv-gray-3);
    --rv-progress-pivot-padding: 0 5px;
    --rv-progress-pivot-text-color: var(--rv-white);
    --rv-progress-pivot-font-size: var(--rv-font-size-xs);
    --rv-progress-pivot-line-height: 1.6;
    --rv-progress-pivot-background-color: var(--rv-primary-color);

}
:root {

    --rv-password-input-height: 50px;
    --rv-password-input-margin: 0 var(--rv-padding-md);
    --rv-password-input-font-size: 20px;
    --rv-password-input-border-radius: 6px;
    --rv-password-input-background-color: var(--rv-white);
    --rv-password-input-info-color: var(--rv-gray-6);
    --rv-password-input-info-font-size: var(--rv-font-size-md);
    --rv-password-input-error-info-color: var(--rv-danger-color);
    --rv-password-input-dot-size: 10px;
    --rv-password-input-dot-color: var(--rv-black);
    --rv-password-input-text-color: var(--rv-text-color);
    --rv-password-input-cursor-color: var(--rv-text-color);
    --rv-password-input-cursor-width: 1px;
    --rv-password-input-cursor-height: 40%;
    --rv-password-input-cursor-animation-duration: 1s;
    --rv-password-input-item-border-radius: 0px;

}
:root {

    --rv-pagination-height: 40px;
    --rv-pagination-font-size: var(--rv-font-size-md);
    --rv-pagination-item-width: 36px;
    --rv-pagination-item-default-color: var(--rv-primary-color);
    --rv-pagination-item-disabled-color: var(--rv-gray-7);
    --rv-pagination-item-disabled-background-color: var(--rv-background-color);
    --rv-pagination-background-color: var(--rv-white);
    --rv-pagination-desc-color: var(--rv-gray-7);
    --rv-pagination-disabled-opacity: var(--rv-disabled-opacity);

}
:root {

    --rv-empty-padding: var(--rv-padding-xl) 0;
    --rv-empty-image-size: 160px;
    --rv-empty-description-margin-top: var(--rv-padding-md);
    --rv-empty-description-padding: 0 60px;
    --rv-empty-description-color: var(--rv-gray-6);
    --rv-empty-description-font-size: var(--rv-font-size-md);
    --rv-empty-description-line-height: var(--rv-line-height-md);
    --rv-empty-bottom-margin-top: 24px;

}
:root {

    --rv-divider-margin: var(--rv-padding-md) 0;
    --rv-divider-text-color: var(--rv-gray-6);
    --rv-divider-font-size: var(--rv-font-size-md);
    --rv-divider-line-height: 24px;
    --rv-divider-border-color: var(--rv-border-color);
    --rv-divider-content-padding: var(--rv-padding-md);
    --rv-divider-content-left-width: 10%;
    --rv-divider-content-right-width: 10%;

}
:root {

    --rv-count-down-text-color: var(--rv-text-color);
    --rv-count-down-font-size: var(--rv-font-size-md);
    --rv-count-down-line-height: var(--rv-line-height-md);

}
:root {

    --rv-circle-size: 100px;
    --rv-circle-color: var(--rv-primary-color);
    --rv-circle-layer-color: var(--rv-white);
    --rv-circle-text-color: var(--rv-text-color);
    --rv-circle-text-font-weight: var(--rv-font-weight-bold);
    --rv-circle-text-font-size: var(--rv-font-size-md);
    --rv-circle-text-line-height: var(--rv-line-height-md);

}
:root {

    --rv-cascader-header-height: 48px;
    --rv-cascader-header-padding: 0 var(--rv-padding-md);
    --rv-cascader-title-font-size: var(--rv-font-size-lg);
    --rv-cascader-title-line-height: 20px;
    --rv-cascader-close-icon-size: 22px;
    --rv-cascader-close-icon-color: var(--rv-gray-5);
    --rv-cascader-close-icon-active-color: var(--rv-gray-6);
    --rv-cascader-selected-icon-size: 18px;
    --rv-cascader-tabs-height: 48px;
    --rv-cascader-active-color: var(--rv-primary-color);
    --rv-cascader-options-height: 384px;
    --rv-cascader-option-disabled-color: var(--rv-gray-5);
    --rv-cascader-tab-color: var(--rv-text-color);
    --rv-cascader-unselected-tab-color: var(--rv-gray-6);

}
:root {

    --rv-coupon-cell-selected-text-color: var(--rv-text-color);

}
:root {

    --rv-coupon-margin: 0 var(--rv-padding-sm) var(--rv-padding-sm);
    --rv-coupon-content-height: 84px;
    --rv-coupon-content-padding: 14px 0;
    --rv-coupon-background-color: var(--rv-white);
    --rv-coupon-active-background-color: var(--rv-active-color);
    --rv-coupon-border-radius: var(--rv-border-radius-lg);
    --rv-coupon-box-shadow: 0 0 4px rgba(0,0,0,0.1);
    --rv-coupon-head-width: 96px;
    --rv-coupon-amount-color: var(--rv-danger-color);
    --rv-coupon-amount-font-size: 30px;
    --rv-coupon-currency-font-size: 40%;
    --rv-coupon-name-font-size: var(--rv-font-size-md);
    --rv-coupon-disabled-text-color: var(--rv-gray-6);
    --rv-coupon-description-padding: var(--rv-padding-xs) var(--rv-padding-md);
    --rv-coupon-description-border-color: var(--rv-border-color);
    --rv-coupon-corner-checkbox-icon-color: var(--rv-danger-color);
    --rv-coupon-list-background-color: var(--rv-background-color);
    --rv-coupon-list-field-padding: 5px 0 5px var(--rv-padding-md);
    --rv-coupon-list-exchange-button-height: 32px;
    --rv-coupon-list-close-button-height: 40px;
    --rv-coupon-list-empty-image-size: 200px;
    --rv-coupon-list-empty-tip-color: var(--rv-gray-6);
    --rv-coupon-list-empty-tip-font-size: var(--rv-font-size-md);
    --rv-coupon-list-empty-tip-line-height: var(--rv-line-height-md);

}
:root {

    --rv-tab-text-color: var(--rv-gray-7);
    --rv-tab-active-text-color: var(--rv-primary-color);
    --rv-tab-disabled-text-color: var(--rv-gray-5);
    --rv-tab-font-size: var(--rv-font-size-md);
    --rv-tab-line-height: var(--rv-line-height-md);
    --rv-tabs-default-color: var(--rv-primary-color);
    --rv-tabs-line-height: 44px;
    --rv-tabs-card-height: 30px;
    --rv-tabs-nav-background-color: var(--rv-white);
    --rv-tabs-bottom-bar-width: 40px;
    --rv-tabs-bottom-bar-height: 3px;
    --rv-tabs-bottom-bar-color: var(--rv-primary-color);

}
:root {

    --rv-uploader-size: 80px;
    --rv-uploader-icon-size: 24px;
    --rv-uploader-icon-color: var(--rv-gray-4);
    --rv-uploader-text-color: var(--rv-gray-6);
    --rv-uploader-text-font-size: var(--rv-font-size-sm);
    --rv-uploader-upload-background-color: var(--rv-gray-1);
    --rv-uploader-upload-active-color: var(--rv-active-color);
    --rv-uploader-delete-color: var(--rv-white);
    --rv-uploader-delete-icon-size: 14px;
    --rv-uploader-delete-background-color: rgba(0,0,0,0.7);
    --rv-uploader-file-background-color: var(--rv-background-color);
    --rv-uploader-file-icon-size: 20px;
    --rv-uploader-file-icon-color: var(--rv-gray-7);
    --rv-uploader-file-name-padding: 0 var(--rv-padding-base);
    --rv-uploader-file-name-margin-top: var(--rv-padding-xs);
    --rv-uploader-file-name-font-size: var(--rv-font-size-sm);
    --rv-uploader-file-name-text-color: var(--rv-gray-7);
    --rv-uploader-mask-text-color: var(--rv-white);
    --rv-uploader-mask-background-color: rgba(50,50,51,0.88);
    --rv-uploader-mask-icon-size: 22px;
    --rv-uploader-mask-message-font-size: var(--rv-font-size-sm);
    --rv-uploader-mask-message-line-height: var(--rv-line-height-xs);
    --rv-uploader-loading-icon-size: 22px;
    --rv-uploader-loading-icon-color: var(--rv-white);
    --rv-uploader-disabled-opacity: var(--rv-disabled-opacity);

}
:root {

    --rv-image-preview-index-text-color: var(--rv-white);
    --rv-image-preview-index-font-size: var(--rv-font-size-md);
    --rv-image-preview-index-line-height: var(--rv-line-height-md);
    --rv-image-preview-index-text-shadow: 0 1px 1px var(--rv-gray-8);
    --rv-image-preview-overlay-background-color: rgba(0,0,0,0.9);
    --rv-image-preview-close-icon-size: 22px;
    --rv-image-preview-close-icon-color: var(--rv-gray-5);
    --rv-image-preview-close-icon-active-color: var(--rv-gray-6);
    --rv-image-preview-close-icon-margin: var(--rv-padding-md);
    --rv-image-preview-close-icon-z-index: 1;

}
:root {

    --rv-swipe-slide-size: 100%;
    --rv-swipe-track-offset: 0%;
    --rv-swipe-border-radius: 0;

}
:root {

    --rv-sticky-z-index: 99;

}
:root {

    --rv-card-padding: var(--rv-padding-xs) var(--rv-padding-md);
    --rv-card-font-size: var(--rv-font-size-sm);
    --rv-card-text-color: var(--rv-text-color);
    --rv-card-background-color: var(--rv-background-color-light);
    --rv-card-thumb-size: 88px;
    --rv-card-thumb-border-radius: var(--rv-border-radius-lg);
    --rv-card-title-line-height: 16px;
    --rv-card-desc-color: var(--rv-gray-7);
    --rv-card-desc-line-height: var(--rv-line-height-md);
    --rv-card-price-color: var(--rv-gray-8);
    --rv-card-origin-price-color: var(--rv-gray-6);
    --rv-card-num-color: var(--rv-gray-6);
    --rv-card-origin-price-font-size: var(--rv-font-size-xs);
    --rv-card-price-font-size: var(--rv-font-size-sm);
    --rv-card-price-integer-font-size: var(--rv-font-size-lg);
    --rv-card-price-font-family: var(--rv-price-integer-font-family);

}
:root {

    --rv-image-placeholder-text-color: var(--rv-gray-6);
    --rv-image-placeholder-font-size: var(--rv-font-size-md);
    --rv-image-placeholder-background-color: var(--rv-background-color);
    --rv-image-loading-icon-size: 32px;
    --rv-image-loading-icon-color: var(--rv-gray-4);
    --rv-image-error-icon-size: 32px;
    --rv-image-error-icon-color: var(--rv-gray-4);

}
:root {

    --rv-skeleton-row-height: 16px;
    --rv-skeleton-row-background-color: var(--rv-active-color);
    --rv-skeleton-row-margin-top: var(--rv-padding-sm);
    --rv-skeleton-title-width: 40%;
    --rv-skeleton-avatar-size: 32px;
    --rv-skeleton-avatar-background-color: var(--rv-active-color);
    --rv-skeleton-animation-duration: 1.2s;

}
:root {

    --rv-action-sheet-max-height: 80%;
    --rv-action-sheet-header-height: 48px;
    --rv-action-sheet-header-font-size: var(--rv-font-size-lg);
    --rv-action-sheet-description-color: var(--rv-gray-6);
    --rv-action-sheet-description-font-size: var(--rv-font-size-md);
    --rv-action-sheet-description-line-height: var(--rv-line-height-md);
    --rv-action-sheet-item-background: var(--rv-white);
    --rv-action-sheet-item-font-size: var(--rv-font-size-lg);
    --rv-action-sheet-item-line-height: var(--rv-line-height-lg);
    --rv-action-sheet-item-text-color: var(--rv-text-color);
    --rv-action-sheet-item-disabled-text-color: var(--rv-gray-5);
    --rv-action-sheet-subname-color: var(--rv-gray-6);
    --rv-action-sheet-subname-font-size: var(--rv-font-size-sm);
    --rv-action-sheet-subname-line-height: var(--rv-line-height-sm);
    --rv-action-sheet-close-icon-size: 22px;
    --rv-action-sheet-close-icon-color: var(--rv-gray-5);
    --rv-action-sheet-close-icon-active-color: var(--rv-gray-6);
    --rv-action-sheet-close-icon-padding: 0 var(--rv-padding-md);
    --rv-action-sheet-cancel-text-color: var(--rv-gray-7);
    --rv-action-sheet-cancel-padding-top: var(--rv-padding-xs);
    --rv-action-sheet-cancel-padding-color: var(--rv-background-color);
    --rv-action-sheet-loading-icon-size: 22px;

}
:root {

    --rv-calendar-background-color: var(--rv-white);
    --rv-calendar-popup-height: 80%;
    --rv-calendar-header-box-shadow: 0 2px 10px rgba(125,126,128,0.16);
    --rv-calendar-header-title-height: 44px;
    --rv-calendar-header-title-font-size: var(--rv-font-size-lg);
    --rv-calendar-header-subtitle-font-size: var(--rv-font-size-md);
    --rv-calendar-weekdays-height: 30px;
    --rv-calendar-weekdays-font-size: var(--rv-font-size-sm);
    --rv-calendar-month-title-font-size: var(--rv-font-size-md);
    --rv-calendar-month-mark-color: rgba(242,243,245,0.8);
    --rv-calendar-month-mark-font-size: 160px;
    --rv-calendar-day-height: 64px;
    --rv-calendar-day-font-size: var(--rv-font-size-lg);
    --rv-calendar-range-edge-color: var(--rv-white);
    --rv-calendar-range-edge-background-color: var(--rv-danger-color);
    --rv-calendar-range-middle-color: var(--rv-danger-color);
    --rv-calendar-range-middle-background-opacity: 0.1;
    --rv-calendar-selected-day-size: 54px;
    --rv-calendar-selected-day-color: var(--rv-white);
    --rv-calendar-info-font-size: var(--rv-font-size-xs);
    --rv-calendar-info-line-height: var(--rv-line-height-xs);
    --rv-calendar-selected-day-background-color: var(--rv-danger-color);
    --rv-calendar-day-disabled-color: var(--rv-gray-5);
    --rv-calendar-confirm-button-height: 36px;
    --rv-calendar-confirm-button-margin: 7px 0;

}
:root {

    --rv-notify-text-color: var(--rv-white);
    --rv-notify-padding: var(--rv-padding-xs) var(--rv-padding-md);
    --rv-notify-font-size: var(--rv-font-size-md);
    --rv-notify-line-height: var(--rv-line-height-md);
    --rv-notify-primary-background-color: var(--rv-primary-color);
    --rv-notify-success-background-color: var(--rv-success-color);
    --rv-notify-danger-background-color: var(--rv-danger-color);
    --rv-notify-warning-background-color: var(--rv-warning-color);

}
:root {

    --rv-toast-max-width: 70%;
    --rv-toast-font-size: var(--rv-font-size-md);
    --rv-toast-text-color: var(--rv-white);
    --rv-toast-loading-icon-color: var(--rv-white);
    --rv-toast-line-height: var(--rv-line-height-md);
    --rv-toast-border-radius: var(--rv-border-radius-lg);
    --rv-toast-background-color: rgba(0,0,0,0.7);
    --rv-toast-icon-size: 36px;
    --rv-toast-text-min-width: 96px;
    --rv-toast-text-padding: var(--rv-padding-xs) var(--rv-padding-sm);
    --rv-toast-default-padding: var(--rv-padding-md);
    --rv-toast-default-width: 88px;
    --rv-toast-default-min-height: 88px;
    --rv-toast-position-top-distance: 20%;
    --rv-toast-position-bottom-distance: 20%;

}
:root {

    --rv-search-padding: 10px var(--rv-padding-sm);
    --rv-search-background-color: var(--rv-white);
    --rv-search-content-background-color: var(--rv-gray-1);
    --rv-search-input-height: 34px;
    --rv-search-label-padding: 0 5px;
    --rv-search-label-color: var(--rv-text-color);
    --rv-search-label-font-size: var(--rv-font-size-md);
    --rv-search-left-icon-color: var(--rv-gray-6);
    --rv-search-action-padding: 0 var(--rv-padding-xs);
    --rv-search-action-text-color: var(--rv-text-color);
    --rv-search-action-font-size: var(--rv-font-size-md);

}
:root {

    --rv-field-label-width: 6.2em;
    --rv-field-label-color: var(--rv-gray-7);
    --rv-field-label-margin-right: var(--rv-padding-sm);
    --rv-field-input-text-color: var(--rv-text-color);
    --rv-field-input-error-text-color: var(--rv-danger-color);
    --rv-field-input-disabled-text-color: var(--rv-gray-5);
    --rv-field-placeholder-text-color: var(--rv-gray-5);
    --rv-field-placeholder-text-font-size: var(--rv-font-size-md);
    --rv-field-input-background-color: transparent;
    --rv-field-icon-size: 16px;
    --rv-field-clear-icon-size: 16px;
    --rv-field-clear-icon-color: var(--rv-gray-5);
    --rv-field-right-icon-color: var(--rv-gray-6);
    --rv-field-error-message-color: var(--rv-danger-color);
    --rv-field-error-message-font-size: 12px;
    --rv-field-text-area-min-height: 60px;
    --rv-field-word-limit-color: var(--rv-gray-7);
    --rv-field-word-limit-font-size: var(--rv-font-size-sm);
    --rv-field-word-limit-line-height: 16px;
    --rv-field-disabled-text-color: var(--rv-gray-5);
    --rv-field-required-mark-color: var(--rv-red);
    --rv-field-intro-color: var(--rv-gray-6);
    --rv-field-tooltip-icon-color: var(--rv-gray-5);

}
:root {

    --rv-dialog-width: 320px;
    --rv-dialog-small-screen-width: 90%;
    --rv-dialog-font-size: var(--rv-font-size-lg);
    --rv-dialog-transition: var(--rv-animation-duration-base);
    --rv-dialog-border-radius: 16px;
    --rv-dialog-background-color: var(--rv-white);
    --rv-dialog-header-font-weight: var(--rv-font-weight-bold);
    --rv-dialog-header-line-height: 24px;
    --rv-dialog-header-padding-top: 26px;
    --rv-dialog-header-isolated-padding: var(--rv-padding-lg) 0;
    --rv-dialog-message-padding: var(--rv-padding-lg);
    --rv-dialog-message-font-size: var(--rv-font-size-md);
    --rv-dialog-message-line-height: var(--rv-line-height-md);
    --rv-dialog-message-max-height: 60vh;
    --rv-dialog-has-title-message-text-color: var(--rv-gray-7);
    --rv-dialog-has-title-message-padding-top: var(--rv-padding-xs);
    --rv-dialog-button-height: 48px;
    --rv-dialog-round-button-height: 36px;
    --rv-dialog-confirm-button-text-color: var(--rv-primary-color);

}
:root {

    --rv-dropdown-menu-height: 48px;
    --rv-dropdown-menu-background-color: var(--rv-white);
    --rv-dropdown-menu-box-shadow: 0 2px 12px rgba(100,101,102,0.12);
    --rv-dropdown-menu-title-font-size: 15px;
    --rv-dropdown-menu-title-text-color: var(--rv-text-color);
    --rv-dropdown-menu-title-active-text-color: var(--rv-danger-color);
    --rv-dropdown-menu-title-disabled-text-color: var(--rv-gray-6);
    --rv-dropdown-menu-title-padding: 0 var(--rv-padding-xs);
    --rv-dropdown-menu-title-line-height: var(--rv-line-height-lg);
    --rv-dropdown-menu-option-active-color: var(--rv-danger-color);
    --rv-dropdown-menu-content-max-height: 80%;
    --rv-dropdown-item-z-index: 10;

}
:root {

    --rv-index-bar-sidebar-z-index: 2;
    --rv-index-bar-index-font-size: var(--rv-font-size-xs);
    --rv-index-bar-index-line-height: var(--rv-line-height-xs);
    --rv-index-bar-index-active-color: var(--rv-primary-color);
    --rv-index-anchor-z-index: 1;
    --rv-index-anchor-padding: 0 var(--rv-padding-md);
    --rv-index-anchor-text-color: var(--rv-text-color);
    --rv-index-anchor-font-weight: var(--rv-font-weight-bold);
    --rv-index-anchor-font-size: var(--rv-font-size-md);
    --rv-index-anchor-line-height: 32px;
    --rv-index-anchor-background-color: transparent;
    --rv-index-anchor-sticky-text-color: var(--rv-primary-color);
    --rv-index-anchor-sticky-background-color: var(--rv-white);

}
:root {

    --rv-notice-bar-height: 40px;
    --rv-notice-bar-padding: 0 var(--rv-padding-md);
    --rv-notice-bar-wrapable-padding: var(--rv-padding-xs) var(--rv-padding-md);
    --rv-notice-bar-text-color: var(--rv-orange-dark);
    --rv-notice-bar-font-size: var(--rv-font-size-md);
    --rv-notice-bar-line-height: 24px;
    --rv-notice-bar-background-color: var(--rv-orange-light);
    --rv-notice-bar-icon-size: 16px;
    --rv-notice-bar-icon-min-width: 24px;

}
:root {

    --rv-popover-arrow-size: 6px;
    --rv-popover-border-radius: var(--rv-border-radius-lg);
    --rv-popover-action-width: 128px;
    --rv-popover-action-height: 44px;
    --rv-popover-action-font-size: var(--rv-font-size-md);
    --rv-popover-action-line-height: var(--rv-line-height-md);
    --rv-popover-action-icon-size: 20px;
    --rv-popover-light-text-color: var(--rv-text-color);
    --rv-popover-light-background-color: var(--rv-white);
    --rv-popover-light-action-disabled-text-color: var(--rv-gray-5);
    --rv-popover-dark-text-color: var(--rv-white);
    --rv-popover-dark-background-color: #4a4a4a;
    --rv-popover-dark-action-disabled-text-color: var(--rv-gray-6);

}
:root {

    --rv-share-sheet-header-padding: var(--rv-padding-sm) var(--rv-padding-md) var(--rv-padding-base);
    --rv-share-sheet-title-color: var(--rv-text-color);
    --rv-share-sheet-title-font-size: var(--rv-font-size-md);
    --rv-share-sheet-title-line-height: var(--rv-line-height-md);
    --rv-share-sheet-description-color: var(--rv-gray-6);
    --rv-share-sheet-description-font-size: var(--rv-font-size-sm);
    --rv-share-sheet-description-line-height: 16px;
    --rv-share-sheet-icon-size: 48px;
    --rv-share-sheet-option-name-color: var(--rv-gray-7);
    --rv-share-sheet-option-name-font-size: var(--rv-font-size-sm);
    --rv-share-sheet-option-description-color: var(--rv-gray-5);
    --rv-share-sheet-option-description-font-size: var(--rv-font-size-sm);
    --rv-share-sheet-cancel-button-font-size: var(--rv-font-size-lg);
    --rv-share-sheet-cancel-button-height: 48px;
    --rv-share-sheet-cancel-button-background: var(--rv-white);

}
:root {

    --rv-popup-background-color: var(--rv-white);
    --rv-popup-transition: transform var(--rv-animation-duration-base);
    --rv-popup-round-border-radius: 16px;
    --rv-popup-close-icon-size: 22px;
    --rv-popup-close-icon-color: var(--rv-gray-5);
    --rv-popup-close-icon-active-color: var(--rv-gray-6);
    --rv-popup-close-icon-margin: 16px;
    --rv-popup-close-icon-z-index: 1;
    --rv-popup-title-font-size: 16px;
    --rv-popup-descrition-font-size: 14px;
    --rv-popup-descrition-color: #969799;

}
:root {

    --rv-overlay-z-index: 1;
    --rv-overlay-background-color: rgba(0,0,0,0.7);

}
:root {

    --rv-action-bar-background-color: var(--rv-white);
    --rv-action-bar-height: 50px;
    --rv-action-bar-button-height: 40px;
    --rv-action-bar-button-warning-color: var(--rv-gradient-orange);
    --rv-action-bar-button-danger-color: var(--rv-gradient-red);
    --rv-action-bar-icon-width: 48px;
    --rv-action-bar-icon-height: 100%;
    --rv-action-bar-icon-color: var(--rv-text-color);
    --rv-action-bar-icon-size: 18px;
    --rv-action-bar-icon-font-size: var(--rv-font-size-xs);
    --rv-action-bar-icon-active-color: var(--rv-active-color);
    --rv-action-bar-icon-text-color: var(--rv-gray-7);
    --rv-action-bar-icon-background-color: var(--rv-white);

}
:root {

    --rv-submit-bar-height: 50px;
    --rv-submit-bar-z-index: 100;
    --rv-submit-bar-background-color: var(--rv-white);
    --rv-submit-bar-button-width: 110px;
    --rv-submit-bar-price-color: var(--rv-danger-color);
    --rv-submit-bar-price-font-size: var(--rv-font-size-sm);
    --rv-submit-bar-price-integer-font-size: 20px;
    --rv-submit-bar-price-font-family: var(--rv-price-integer-font-family);
    --rv-submit-bar-currency-font-size: var(--rv-font-size-md);
    --rv-submit-bar-text-color: var(--rv-text-color);
    --rv-submit-bar-text-font-size: var(--rv-font-size-md);
    --rv-submit-bar-tip-padding: var(--rv-padding-xs) var(--rv-padding-sm);
    --rv-submit-bar-tip-font-size: var(--rv-font-size-sm);
    --rv-submit-bar-tip-line-height: 1.5;
    --rv-submit-bar-tip-color: #f56723;
    --rv-submit-bar-tip-background-color: #fff7cc;
    --rv-submit-bar-tip-icon-size: 12px;
    --rv-submit-bar-button-height: 40px;
    --rv-submit-bar-padding: 0 var(--rv-padding-md);

}
:root {

    --rv-button-mini-height: 24px;
    --rv-button-mini-padding: 0 var(--rv-padding-base);
    --rv-button-mini-font-size: var(--rv-font-size-xs);
    --rv-button-small-height: 32px;
    --rv-button-small-padding: 0 var(--rv-padding-xs);
    --rv-button-small-font-size: var(--rv-font-size-sm);
    --rv-button-normal-padding: 0 15px;
    --rv-button-normal-font-size: var(--rv-font-size-md);
    --rv-button-large-height: 50px;
    --rv-button-default-height: 44px;
    --rv-button-default-line-height: 1.2;
    --rv-button-default-font-size: var(--rv-font-size-lg);
    --rv-button-default-color: var(--rv-text-color);
    --rv-button-default-background-color: var(--rv-white);
    --rv-button-default-border-color: var(--rv-border-color);
    --rv-button-primary-color: var(--rv-white);
    --rv-button-primary-background-color: var(--rv-primary-color);
    --rv-button-primary-border-color: var(--rv-primary-color);
    --rv-button-success-color: var(--rv-white);
    --rv-button-success-background-color: var(--rv-success-color);
    --rv-button-success-border-color: var(--rv-success-color);
    --rv-button-danger-color: var(--rv-white);
    --rv-button-danger-background-color: var(--rv-danger-color);
    --rv-button-danger-border-color: var(--rv-danger-color);
    --rv-button-warning-color: var(--rv-white);
    --rv-button-warning-background-color: var(--rv-warning-color);
    --rv-button-warning-border-color: var(--rv-warning-color);
    --rv-button-border-width: var(--rv-border-width-base);
    --rv-button-border-radius: var(--rv-border-radius-sm);
    --rv-button-round-border-radius: var(--rv-border-radius-max);
    --rv-button-plain-background-color: var(--rv-white);
    --rv-button-disabled-opacity: var(--rv-disabled-opacity);
    --rv-button-icon-size: 1.2em;
    --rv-button-loading-icon-size: 20px;

}
:root {

    --rv-picker-background-color: var(--rv-white);
    --rv-picker-toolbar-height: 44px;
    --rv-picker-title-font-size: var(--rv-font-size-lg);
    --rv-picker-title-line-height: var(--rv-line-height-md);
    --rv-picker-action-padding: 0 var(--rv-padding-md);
    --rv-picker-action-font-size: var(--rv-font-size-md);
    --rv-picker-confirm-action-color: var(--rv-text-link-color);
    --rv-picker-cancel-action-color: var(--rv-gray-6);
    --rv-picker-option-font-size: var(--rv-font-size-lg);
    --rv-picker-option-padding: 0 var(--rv-padding-base);
    --rv-picker-option-text-color: var(--rv-black);
    --rv-picker-option-disabled-opacity: 0.3;
    --rv-picker-loading-icon-color: var(--rv-primary-color);
    --rv-picker-loading-mask-color: hsla(0,0%,100%,0.9);

}
:root {

    --rv-list-text-color: var(--rv-gray-6);
    --rv-list-text-font-size: var(--rv-font-size-md);
    --rv-list-text-line-height: 50px;
    --rv-list-loading-icon-size: 16px;

}
:root {

    --rv-number-keyboard-background-color: var(--rv-gray-2);
    --rv-number-keyboard-key-height: 48px;
    --rv-number-keyboard-key-font-size: 28px;
    --rv-number-keyboard-key-active-color: var(--rv-gray-3);
    --rv-number-keyboard-key-background-color: var(--rv-white);
    --rv-number-keyboard-delete-font-size: var(--rv-font-size-lg);
    --rv-number-keyboard-title-color: var(--rv-gray-7);
    --rv-number-keyboard-title-height: 34px;
    --rv-number-keyboard-title-font-size: var(--rv-font-size-lg);
    --rv-number-keyboard-close-padding: 0 var(--rv-padding-md);
    --rv-number-keyboard-close-color: var(--rv-text-link-color);
    --rv-number-keyboard-close-font-size: var(--rv-font-size-md);
    --rv-number-keyboard-button-text-color: var(--rv-white);
    --rv-number-keyboard-button-background-color: var(--rv-primary-color);
    --rv-number-keyboard-z-index: 100;

}
:root {

    --rv-pull-refresh-head-height: 50px;
    --rv-pull-refresh-head-font-size: var(--rv-font-size-md);
    --rv-pull-refresh-head-text-color: var(--rv-gray-6);
    --rv-pull-refresh-loading-icon-size: 16px;

}
:root {

    --rv-switch-size: 30px;
    --rv-switch-width: 2em;
    --rv-switch-height: 1em;
    --rv-switch-node-size: 1em;
    --rv-switch-node-background-color: var(--rv-white);
    --rv-switch-node-box-shadow: 0 3px 1px 0 rgba(0,0,0,0.05),0 2px 2px 0 rgba(0,0,0,0.1),0 3px 3px 0 rgba(0,0,0,0.05);
    --rv-switch-background-color: var(--rv-white);
    --rv-switch-on-background-color: var(--rv-primary-color);
    --rv-switch-transition-duration: var(--rv-animation-duration-base);
    --rv-switch-disabled-opacity: var(--rv-disabled-opacity);
    --rv-switch-border: var(--rv-border-width-base) solid rgba(0,0,0,0.1);

}
:root {

    --rv-loading-text-color: var(--rv-gray-6);
    --rv-loading-text-font-size: var(--rv-font-size-md);
    --rv-loading-spinner-color: var(--rv-gray-5);
    --rv-loading-spinner-size: 30px;
    --rv-loading-spinner-animation-duration: 0.8s;

}
:root {

    --rv-tag-padding: 0 var(--rv-padding-base);
    --rv-tag-text-color: var(--rv-white);
    --rv-tag-font-size: var(--rv-font-size-sm);
    --rv-tag-border-radius: 2px;
    --rv-tag-line-height: 16px;
    --rv-tag-medium-padding: 2px 6px;
    --rv-tag-large-padding: var(--rv-padding-base) var(--rv-padding-xs);
    --rv-tag-large-border-radius: var(--rv-border-radius-md);
    --rv-tag-large-font-size: var(--rv-font-size-md);
    --rv-tag-round-border-radius: var(--rv-border-radius-max);
    --rv-tag-danger-color: var(--rv-danger-color);
    --rv-tag-primary-color: var(--rv-primary-color);
    --rv-tag-success-color: var(--rv-success-color);
    --rv-tag-warning-color: var(--rv-warning-color);
    --rv-tag-default-color: var(--rv-gray-6);
    --rv-tag-plain-background-color: var(--rv-white);

}
:root {

    --rv-collapse-item-transition-duration: var(--rv-animation-duration-base);
    --rv-collapse-item-content-padding: var(--rv-padding-sm) var(--rv-padding-md);
    --rv-collapse-item-content-font-size: var(--rv-font-size-md);
    --rv-collapse-item-content-line-height: 1.5;
    --rv-collapse-item-content-text-color: var(--rv-gray-6);
    --rv-collapse-item-content-background-color: var(--rv-white);
    --rv-collapse-item-title-disabled-color: var(--rv-gray-5);

}
:root {

    --rv-cell-font-size: var(--rv-font-size-md);
    --rv-cell-line-height: 24px;
    --rv-cell-vertical-padding: 10px;
    --rv-cell-horizontal-padding: var(--rv-padding-md);
    --rv-cell-text-color: var(--rv-text-color);
    --rv-cell-background-color: var(--rv-white);
    --rv-cell-border-color: var(--rv-border-color);
    --rv-cell-active-color: var(--rv-active-color);
    --rv-cell-required-color: var(--rv-danger-color);
    --rv-cell-label-color: var(--rv-gray-6);
    --rv-cell-label-font-size: var(--rv-font-size-sm);
    --rv-cell-label-line-height: var(--rv-line-height-sm);
    --rv-cell-label-margin-top: var(--rv-padding-base);
    --rv-cell-value-color: var(--rv-gray-6);
    --rv-cell-icon-size: 16px;
    --rv-cell-right-icon-color: var(--rv-gray-6);
    --rv-cell-large-vertical-padding: var(--rv-padding-sm);
    --rv-cell-large-title-font-size: var(--rv-font-size-lg);
    --rv-cell-large-label-font-size: var(--rv-font-size-md);
    --rv-cell-group-background-color: var(--rv-white);
    --rv-cell-group-title-color: var(--rv-gray-6);
    --rv-cell-group-title-padding: var(--rv-padding-md) var(--rv-padding-md) var(--rv-padding-xs);
    --rv-cell-group-title-font-size: var(--rv-font-size-md);
    --rv-cell-group-title-line-height: 16px;
    --rv-cell-group-inset-padding: 0 var(--rv-padding-md);
    --rv-cell-group-inset-border-radius: var(--rv-border-radius-lg);
    --rv-cell-group-inset-title-padding: var(--rv-padding-md) var(--rv-padding-md) var(--rv-padding-xs) var(--rv-padding-xl);

}
:root {

    --rv-radio-size: 20px;
    --rv-radio-border-color: var(--rv-gray-5);
    --rv-radio-transition-duration: var(--rv-animation-duration-fast);
    --rv-radio-label-margin: var(--rv-padding-xs);
    --rv-radio-label-color: var(--rv-text-color);
    --rv-radio-checked-icon-color: var(--rv-primary-color);
    --rv-radio-disabled-icon-color: var(--rv-gray-5);
    --rv-radio-disabled-label-color: var(--rv-gray-5);
    --rv-radio-disabled-background-color: var(--rv-border-color);

}
:root {

    --rv-checkbox-size: 20px;
    --rv-checkbox-border-color: var(--rv-gray-5);
    --rv-checkbox-transition-duration: var(--rv-animation-duration-fast);
    --rv-checkbox-label-margin: var(--rv-padding-xs);
    --rv-checkbox-label-color: var(--rv-text-color);
    --rv-checkbox-checked-icon-color: var(--rv-primary-color);
    --rv-checkbox-disabled-icon-color: var(--rv-gray-5);
    --rv-checkbox-disabled-label-color: var(--rv-gray-5);
    --rv-checkbox-disabled-background-color: var(--rv-border-color);

}
:root {

    --rv-grid-item-content-padding: var(--rv-padding-md) var(--rv-padding-xs);
    --rv-grid-item-content-background-color: var(--rv-white);
    --rv-grid-item-content-active-color: var(--rv-active-color);
    --rv-grid-item-icon-size: 28px;
    --rv-grid-item-text-color: var(--rv-gray-7);
    --rv-grid-item-text-font-size: var(--rv-font-size-sm);

}
:root {

    --rv-nav-bar-height: 46px;
    --rv-nav-bar-background-color: var(--rv-white);
    --rv-nav-bar-arrow-size: 16px;
    --rv-nav-bar-icon-color: var(--rv-primary-color);
    --rv-nav-bar-text-color: var(--rv-primary-color);
    --rv-nav-bar-title-font-size: var(--rv-font-size-lg);
    --rv-nav-bar-title-text-color: var(--rv-text-color);
    --rv-nav-bar-z-index: 1;

}
:root {

    --rv-rate-icon-size: 20px;
    --rv-rate-icon-gutter: var(--rv-padding-base);
    --rv-rate-icon-void-color: var(--rv-gray-5);
    --rv-rate-icon-full-color: var(--rv-danger-color);
    --rv-rate-icon-disabled-color: var(--rv-gray-5);

}
:root {

    --rv-steps-background-color: var(--rv-white);
    --rv-step-text-color: var(--rv-gray-6);
    --rv-step-active-color: var(--rv-success-color);
    --rv-step-process-text-color: var(--rv-text-color);
    --rv-step-font-size: var(--rv-font-size-md);
    --rv-step-line-color: var(--rv-border-color);
    --rv-step-finish-line-color: var(--rv-success-color);
    --rv-step-finish-text-color: var(--rv-text-color);
    --rv-step-icon-size: 12px;
    --rv-step-circle-size: 5px;
    --rv-step-circle-color: var(--rv-gray-6);
    --rv-step-horizontal-title-font-size: var(--rv-font-size-sm);

}
:root {

    --rv-tabbar-height: 50px;
    --rv-tabbar-z-index: 1;
    --rv-tabbar-background-color: var(--rv-white);
    --rv-tabbar-item-font-size: var(--rv-font-size-sm);
    --rv-tabbar-item-text-color: var(--rv-gray-7);
    --rv-tabbar-item-active-color: var(--rv-primary-color);
    --rv-tabbar-item-active-background-color: var(--rv-white);
    --rv-tabbar-item-line-height: 1;
    --rv-tabbar-item-icon-size: 22px;
    --rv-tabbar-item-icon-margin-bottom: var(--rv-padding-base);

}
:root {

    --rv-sidebar-width: 80px;
    --rv-sidebar-font-size: var(--rv-font-size-md);
    --rv-sidebar-line-height: var(--rv-line-height-md);
    --rv-sidebar-text-color: var(--rv-text-color);
    --rv-sidebar-disabled-text-color: var(--rv-gray-5);
    --rv-sidebar-padding: 20px var(--rv-padding-sm);
    --rv-sidebar-active-color: var(--rv-active-color);
    --rv-sidebar-background-color: var(--rv-background-color);
    --rv-sidebar-selected-font-weight: var(--rv-font-weight-bold);
    --rv-sidebar-selected-text-color: var(--rv-text-color);
    --rv-sidebar-selected-border-width: 4px;
    --rv-sidebar-selected-border-height: 16px;
    --rv-sidebar-selected-border-color: var(--rv-danger-color);
    --rv-sidebar-selected-background-color: var(--rv-white);

}
:root {

    --rv-badge-size: 16px;
    --rv-badge-color: var(--rv-white);
    --rv-badge-padding: 0 3px;
    --rv-badge-font-size: var(--rv-font-size-sm);
    --rv-badge-font-weight: var(--rv-font-weight-bold);
    --rv-badge-border-width: var(--rv-border-width-base);
    --rv-badge-background-color: var(--rv-danger-color);
    --rv-badge-dot-color: var(--rv-danger-color);
    --rv-badge-dot-size: 8px;
    --rv-badge-font-family: -apple-system-font,Helvetica Neue,Arial,sans-serif;

}
:root {

    --rv-brand-color: #3f45ff;
    --rv-black: #000;
    --rv-white: #fff;
    --rv-gray-1: #f7f8fa;
    --rv-gray-2: #f2f3f5;
    --rv-gray-3: #ebedf0;
    --rv-gray-4: #dcdee0;
    --rv-gray-5: #c8c9cc;
    --rv-gray-6: #969799;
    --rv-gray-7: #646566;
    --rv-gray-8: #323233;
    --rv-red: #f44336;
    --rv-blue: #3f45ff;
    --rv-orange: #ff976a;
    --rv-orange-dark: #ff590d;
    --rv-orange-light: #fffbe8;
    --rv-green: #00c853;
    --rv-gradient-red: linear-gradient(90deg,#ff6034,#ee0a24);
    --rv-gradient-orange: linear-gradient(90deg,#ffd01e,#ff8917);
    --rv-primary-color: var(--rv-blue);
    --rv-success-color: var(--rv-green);
    --rv-danger-color: var(--rv-red);
    --rv-warning-color: var(--rv-orange);
    --rv-text-color: var(--rv-gray-8);
    --rv-active-color: var(--rv-gray-2);
    --rv-active-opacity: 0.7;
    --rv-disabled-opacity: 0.5;
    --rv-background-color: var(--rv-gray-1);
    --rv-background-color-light: #fafafa;
    --rv-text-link-color: #576b95;
    --rv-padding-base: 4px;
    --rv-padding-xs: 8px;
    --rv-padding-sm: 12px;
    --rv-padding-md: 16px;
    --rv-padding-lg: 24px;
    --rv-padding-xl: 32px;
    --rv-font-size-xs: 10px;
    --rv-font-size-sm: 12px;
    --rv-font-size-md: 14px;
    --rv-font-size-lg: 16px;
    --rv-font-size-xl: 18px;
    --rv-font-size-xxl: 20px;
    --rv-font-size-xxxl: 24px;
    --rv-font-weight-bold: 500;
    --rv-line-height-xs: 14px;
    --rv-line-height-sm: 18px;
    --rv-line-height-md: 20px;
    --rv-line-height-lg: 22px;
    --rv-line-height-xl: 24px;
    --rv-line-height-xxl: 28px;
    --rv-line-height-xxxl: 32px;
    --rv-base-font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,Segoe UI,Arial,Roboto,"PingFang SC","miui","Hiragino Sans GB","Microsoft Yahei",sans-serif;
    --rv-price-integer-font-family: Avenir-Heavy,PingFang SC,Helvetica Neue,Arial,sans-serif;
    --rv-animation-duration-base: 0.3s;
    --rv-animation-duration-fast: 0.2s;
    --rv-animation-timing-function-enter: ease-out;
    --rv-animation-timing-function-leave: ease-in;
    --rv-border-color: var(--rv-gray-3);
    --rv-border-width-base: 1px;
    --rv-border-radius-sm: 2px;
    --rv-border-radius-md: 4px;
    --rv-border-radius-lg: 8px;
    --rv-border-radius-max: 999px;

}
:root {

    color: CanvasText;

}
.page {
  padding: 16px 16px 0 16px;
}

.pages {
  padding: 0px 16px 0 16px;
}

.pagess {
  padding: 0 16px 0 16px;
}
.pageaa {
  padding: 0 16px 80px 16px;
}

.pagesss {
  padding: 0 16px 0 16px;
  flex: 1;
}



.rv-pull-refresh__track {
  min-height: 100vh;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: rgba(0, 0, 0, 0.75); */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  font-size: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* 火狐 */

input {
  -moz-appearance: textfield;
}

/* body {
    max-width: 580px;
    min-width: 580px;
} */
.hLfFTp {
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  padding-top: 16px;
}
.MXsOJ {
  font-weight: 800;
}
.fzumYV {
  color: rgb(102, 102, 102);
  margin-top: 16px;
}
.fzumYV {
  color: rgb(102, 102, 102);
  margin-top: 16px;
}
.dKucsZ {
  width: 48px;
  height: 6px;
  background-color: rgb(26, 80, 255);
  margin-top: 24px;
}
.kXSQgt {
  display: flex;
  -moz-box-align: center;
  align-items: center;
}
.jErTKs {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  -moz-box-pack: center;
  justify-content: center;
}
.jzQsOu {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  font-size: 14px;
  color: rgb(153, 153, 153);
  margin-top: 20px;
}
.gnSEfP {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  background: rgb(26, 80, 255) none repeat scroll 0% 0%;
  height: 60px;
  border-radius: 50px;
  margin-top: 58px;
}
.eQAXNV {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  margin-top: 45px;
}
.dHGIIk {
  width: 98px;
  height: 101px;
}
.bstVWJ {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: justify;
  justify-content: space-between;
  background-color: white;
  height: 20px;
  border-radius: 50px;
  margin-top: 24px;
  padding: 20px 22px;
}
.euYIuR {
  height: 60px;
  padding-left: 22px;
  border-radius: 50px;
  border: 0px none;
  margin-top: 24px;
  font-size: 16px;
  color: rgb(51, 51, 51);
  outline: currentcolor none medium;
}
.dFnDjI {
  width: 100%;
  border: 0px none;
  font-size: 16px;
  outline: currentcolor none medium;
  color: rgb(51, 51, 51);
}
.cCuZcO {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  padding-right: 5px;
  color: rgb(51, 51, 51);
  margin-right: 10px;
}
.bkWRft {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  width: 100%;
}
.cqObiK {
        width: 100%;
    height: 100%;
    border-radius: 50px;
  font-size: 24px;
  font-weight: 800;
  border: 0px none;
  background-color: rgb(26, 80, 255);
  color: white;
}
.gonXaE {
  border-bottom: 1px solid black;
}
.iwKrbX {
  height: 60px;
  padding-left: 22px;
  border-radius: 50px;
  border: 0px none;
  margin-top: 24px;
  font-size: 16px;
  color: rgb(51, 51, 51);
  outline: currentcolor none medium;
}
.gkyTgL {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  background: rgb(26, 80, 255) none repeat scroll 0% 0%;
  height: 60px;
  border-radius: 50px;
  margin-top: 34px;
}